/* You can add global styles to this file, and also import other style files */

body {
    background: radial-gradient(circle, #0074e4, rgb(201, 225, 249), #0074e4);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }